{% extends "basics/base.html" %}

{% block content %}
<div class="static-header light">
  <div class="text-heading" style="padding-top:5px">
    <h1>Join <span class="highlight">BoxHippo</span> today!</h1>
    <p>Rate products, engage with sellers, and list your own box!</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="form form-register dark" action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-8">
              {% load widget_tweaks %}
              {{ form.username|add_class:"form-control" }}
              {% if form.username.errors %}
              <br>
              {{ form.username.errors }}
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label for="password1" class="col-sm-4 control-label">Password</label>
            <div class="col-sm-8">
              {% load widget_tweaks %}
              {{ form.password1|add_class:"form-control" }}
              {% if form.password1.errors %}
              <br>
              {{ form.password1.errors }}
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label for="password2" class="col-sm-4 control-label">Password (again)</label>
            <div class="col-sm-8">
              {% load widget_tweaks %}
              {{ form.password2|add_class:"form-control" }}
              {% if form.password2.errors %}
              <br>
              {{ form.password2.errors }}
              {% endif %}
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Let's Go!"></input>
        </form>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}



