<footer id="footer" class="footer light">
  <div class="container">
    <div class="footer-content row">
      <div class="col-sm-4">
        <div class="logo-wrapper">
          <h2 class="highlight thin">BoxHippo</h2>
        </div>
        <p>Our goal at <strong>BoxHippo</strong> is to help people find just what they're looking for in a subscription box service. For those listing their box with us, 
        we will do everything in our power to get as many eyes on your product so you can turn visitors into subscribers.</p>
        <p><strong>Matthew & Neil &mdash; Founders</strong>.</p>
      </div>
      <div class="col-sm-5 social-wrap">
        <div class="footer-title">Social Networks</div>
        <ul class="list-inline socials">
          <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
          <li><a href="#"><span class="icon icon-socialmedia-07"></span></a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="footer-title">Our Contact</div>
        <ul class="list-unstyled">
          <li>
            <span class="icon icon-chat-messages-14"></span> 
            <a href="mailto:theboxhippo@gmail.com">TheBoxHippo@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">BoxHippo 2015. All rights reserved.</div>
</footer>
