<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>BoxHippo</title>
    <meta name="description" content="BoxHippo - find the perfet subscription box product for you!">
    <meta name="keywords" content="Startups template">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.jpg">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/toastr.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="all" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61855496-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}js/html5.js"></script>
        <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="landing-page">
    
<header>
  <div class="header-holder">
    <nav class="navigation navigation-header">
      <div class="container">
        <div class="navigation-brand">
          <div class="brand-logo">
            <span class="highlight thin" style="font-size:44px"><a href="/" style="color:#1ac6ff;">BoxHippo</a></span>
          </div>
          <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown" data-target=".navigation-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navigation-navbar">
          <ul class="navigation-bar navigation-bar-left">
            <li class="active"><a href="/merchants">Home</a></li>
            <li><a href="/merchants/#how-it-works">How It Works</a></li>
            <li><a href="/merchants/#features-list">Features</a></li>
            <li><a href="/merchants/#prices">Prices</a></li>
            <li><a href="/merchants/#contact">Contact</a></li>
            <li><a href="/listings">Listings</a></li>
          </ul>
          {% include "basics/right_nav.html" %}
        </div>
      </div>
    </nav>
  </div>
</header>
    <div id="hero" class="static-header light clearfix">
        <div class="text-heading">
            <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">BoxHippo &mdash; list <span class="highlight">your</span> box!</h1>
            <p class="animated hiding" data-animation="fadeInDown" data-delay="500">Add <span class="highlight">your box</span> to our directory and get more eyes on your products, <br>ultimately bringing more customers directly to your webstore.</p>
            <ul class="list-inline">
                <li><a href="#prices" class="btn btn-primary animated hiding" data-animation="bounceIn" data-delay="700">List Your Box</a></li>
                <li><a href="/listings/" class="btn btn-default animated hiding" data-animation="bounceIn" data-delay="900">Browse Listings</a></li>
            </ul>
        </div>
        <div class="video-wrapper">
            <div class="container">
                <img src="{{ STATIC_URL }}img/features/app_block.png" alt="video" class="img-responsive animated hiding" data-animation="bounceInUp" data-delay="1000" />
            </div>
        </div>
    </div>
    
    <a id="showHere"></a>
    
  <section class="section dark" id='how-it-works'>
    <div class="container">
      <div class="col-sm-6 pull-right animated hiding" data-animation="fadeInRight">
        <img src="{{ STATIC_URL }}img/crate.jpg" class="img-responsive pull-right" alt="process 2" />
      </div>
      <div class="col-sm-6 animated hiding" data-animation="fadeInLeft">
        <article class="center">
          <h2>LIST <span class="highlight">YOUR</span> BOX</h2>
          <div class="sub-heading">
            When you list your subscription box with <span class="highlight">BoxHippo</span> you can:<br/>
          </div>
          <br />
          <p>
            <small>
              List multiple products in our directory<br/>
              Describe your product/service<br/>
              Add a picture to your listing<br/>
              Link directly to <span class="highlight">your website</span><br/>
              Access a Metrics Panel to monitor your listing's performance<br/>
              Access promotional <span class="highlight">spotlight</span> listing spots<br/>
              And more!<br/>
              <br/>
            </small>
            We strive to bring you as many leads as possible, while not standing in your way.
          </p>

        </article>
      </div>
    </div>
  </section>

  <hr class="no-margin" />
	
	<section id="features-list" class="section dark">

    <div class="container animated hiding" data-animation="fadeInDown">
      <h1>Easy, yet powerful tools</h1>
      <br/>
	    <div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-graphic-design-13 icon-active"></i>
                    <span class="h7">Listing Manager</span>
                    <p class="thin">Add all your content to your listing with ease. Upload a picture and write a description to showcase your product.</p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-arrows-37 icon-active"></i>
                    <span class="h7">Metrics Panel</span>
                    <p class="thin">Track your listings' impressions, views, and clicks with easy to understand graphs.</p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-multimedia-16 icon-active"></i>
                    <span class="h7">Your Website</span>
                    <p class="thin">When someone views your listing and wants to sign up, they are sent right to your website. No middle-man here!</p>
                </article>
            </div>             
			<div class="col-md-3 col-sm-6 col-xs-12">
                <article class="center">	
					<i class="icon icon-badges-votes-14 icon-active"></i>
                    <span class="h7">Support</span>
                    <p class="thin">Industry standard support ticket system so your questions will be handled swiftly.</p>
                </article>
            </div>           
          </div>
    </section>	
	

	<section id="newsletter" class="long-block light">
        <div class="container center">
            <div class="col-sm-12 col-lg-5">
                <article>
                    <h2><strong>GET</strong> LIVE UPDATES</h2>
                    <p class="thin">Want to keep up to date with <span class="highlight">BoxHippo</span>?<br/>No spam, just info, we promise :)</p>
                </article>
            </div>
            <div class="col-sm-12 col-lg-7">
			 <form id="subscribe" class="form" action="<?=$_SERVER['PHP_SELF']; ?>" method="post">
            <div class="form-group form-inline">
              <input size="15" type="text" class="form-control required" id="NewsletterName" name="NewsletterName" placeholder="Your name" /> 
              <input size="25" type="email" class="form-control required" id="NewsletterEmail" name="NewsletterEmail" placeholder="your@email.com" /> 
			  <input type="submit" class="btn btn-default" value="SUBSCRIBE" />
			  <span id="response">
				<? require_once('{{ STATIC_URL }}mailchimp/inc/store-address.php'); if($_GET['submit']){ echo storeAddress(); } ?>
			  </span>
            </div>
          </form>
            </div>
			
			
			
        </div>
    </section>
	
    <section id="prices" class="section dark">
        <div class="container">
            <div class="section-header animated hiding" data-animation="fadeInDown">
                <h2>JOIN <span class="highlight">BOX HIPPO</span></h2>
                <div class="sub-heading">
                  List your subscription box service with <span class="highlight">BoxHippo</span> and get results.
                </div>
            </div>
            <div class="section-content row">
            
                <div class="col-sm-4">
                    <div class="package-column animated hiding" data-animation="flipInY">
                        <div class="package-title">BASIC</div>
                        <div class="package-price">
                            <div class="price"><span class="currency">$</span>10</div>
                            <div class="period">Per Month<br /></div>
                        </div>
                        <div class="package-detail">
                            <ul class="list-unstyled">
                                <li><strong>1</strong> Listing</li>
                                <li><strong>Metrics</strong> Panel</li>
                                <li><strong>1</strong> Picture Per Listing</li>
                            </ul>
                            <a href="http://45.56.85.201/whmcs/cart.php?gid=1" class="btn btn-secondary btn-block">Get started</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="package-column animated hiding" data-animation="flipInY" data-delay="500">
                        <div class="package-title">SILVER</div>
                        <div class="package-price">
                            <div class="price"><span class="currency">$</span>20</div>
                            <div class="period">PER MONTH</div>
                        </div>
                        <div class="package-detail">
                            <ul class="list-unstyled">
                                <li><strong>3</strong> Listings</li>
                                <li><strong>Metrics</strong> Panel</li>
                                <li><strong>1</strong> Picture Per Listing</li>
                            </ul>
                            <a href="http://45.56.85.201/whmcs/cart.php?gid=1" class="btn btn-secondary btn-block">Get started</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="package-column animated hiding" data-animation="flipInY" data-delay="500">
                        <div class="package-title">GOLD</div>
                        <div class="package-price">
                            <div class="price"><span class="currency">$</span>30</div>
                            <div class="period">PER MONTH</div>
                        </div>
                        <div class="package-detail">
                            <ul class="list-unstyled">
                                <li><strong>Unlimited</strong> Listings</li>
                                <li><strong>Metrics</strong> Panel</li>
                                <li><strong>1</strong> Picture Per Listing</li>
                            </ul>
                            <a href="http://45.56.85.201/whmcs/cart.php?gid=1" class="btn btn-secondary btn-block">Get started</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
	
    
    
    <section id="contact" class="long-block light">
        <div class="container">
            <div class="col-md-12 col-lg-9">
				<i class="icon icon-seo-icons-24 pull-left"></i>
                <article class="pull-left">
                    <h2><strong>LIST</strong> your box TODAY!</h2>
                    <p class="thin">We'll get more eyes on your product</p>
                </article>
            </div>
			
            <div class="col-md-12 col-lg-3">
                <a href="/register/" class="btn btn-default">Sign UP</a>
            </div>
        </div>
    </section>

      {% include "basics/footer.html" %}
    
    </div>
    
    <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>
    
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.0.min.js?ver=1"></script>
    <![endif]-->  
    <!--[if (gte IE 9) | (!IE)]><!-->  
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.0.min.js?ver=1"></script>
    <!--<![endif]-->  
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nav.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.appear.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.plugin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.countdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/waypoints.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/toastr.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/headhesive.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mailchimp/js/mailing-list.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
</body>
</html>
