<header>
  <div class="header-holder">
    <nav class="navigation navigation-header">
      <div class="container">
        <div class="navigation-brand">
          <div class="brand-logo">
            <span class="highlight thin" style="font-size:44px"><a href="/" style="color:#1ac6ff;">BoxHippo</a></span>
          </div>
          <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown" data-target=".navigation-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navigation-navbar">
          <ul class="navigation-bar navigation-bar-left">
            <li><a href="/">Home</a></li>
            <li><a href="/merchants/">Merchants</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li><a href="/listings">Listings</a></li>
          </ul>
          {% include "basics/right_nav.html" %}
        </div>
      </div>
    </nav>
  </div>
</header>


